<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link   href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css'   rel='stylesheet' type='text/css'>
    <title>Dream Sell</title>
    <link rel="stylesheet" href="../public/css/info.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../public/js/info.js"></script>
</head>
<body>
    <div class="info">
      <div class="header">
            <div class="sign">
                    <a href="#" style="text-decoration: none;">로그인</a>
                    <a href="#" style="text-decoration: none;">회원가입</a>
                    <a href="#" style="text-decoration: none;">마이페이지</a>
                </div>
            <div class="h-outer">
                <div class="logo">
                    <input type="image" src="../public/Resource/dreamsell%20logo.png" width=100% height=100%>
                </div>
                <div class="serch">
                    <select class="select">
                        <option>전체</option>
                        <option>분류</option>
                    </select>
                    <input type=text class="input">
                    <input type="image" src="../public/Resource/blue/search.png" class="button">
                </div>
            </div>
        </div>
        <div id="iteminfo">
            <div id="itemimage">
                <image src="../public/Resource/benz.png" width=100% height=100%></image>
            </div>
            <div id="itemdata">
                <p id="itemname"></p>
                <span id="itemtime">1:10:29:19</span>
                <br>
                <hr>
            
            <p id="seller">판매자</p>
            <span id="sellername"></span>
            <hr>
            <div id="nowPrice">
                <p id="nowText">현재가격</p>
                <span id="nowNumb"></span>
            </div>
            <div id="startPrice">
                <p id="startText">시작가격</p>
                <span id="startNumb"></span>
            </div>
            <hr>
            <div id="bidding">
                <p id="bidText">입찰 횟수</p>
                <span id="bidNumb"></span>
            </div>
            <div id="phonenumber">
                <p id="phoneText">판매자 연락처</p>
                <span id="phoneNumb"></span>
            </div>
            <hr>
            <p id="lately">최근거래</p>
            <div id="datedata">
                <p id="dateText">일시</p>
                <p class="dateTime">2017.10.11 12:30:19</p>
                <p class="dateTime">2017.10.11 12:30:19</p>
                <p class="dateTime">2017.10.11 12:30:19</p>
                <p class="dateTime">2017.10.11 12:30:19</p>
                <p class="dateTime">2017.10.11 12:30:19</p>
            </div>
            <div id="buyer">
                <p id="idText">아이디</p>
                <p class="idData"></p>
                <p class="idData"></p>
                <p class="idData"></p>
                <p class="idData"></p>
                <p class="idData"></p>
            </div>
            <div id="price">
                <p id="priceText">금액</p>
                <p class="priceData"></p>
                <p class="priceData"></p>
                <p class="priceData"></p>
                <p class="priceData"></p>
                <p class="priceData"></p>
            </div>
            </div>
        </div> 
   <div id="explain">
        <span id="exText">설명 들어갈곳<br></span>
        <img src="../public/Resource/benz.png" width="100%" height="100%" id="exImg">
    </div>
    <div class ="popUp">
        <p>나도 상품 판매하기</p>
    </div>
    <div class="popUp2">
        <p>최근 본 상품</p>
        <img src="../public/Resource/benz.png"  width="100%" height="45%" style="cursor: pointer;">
        <p style="font-size:100%;" id="menuname">사고싶다</p>
        <p style="font-size:100%;" id="menuprice">999,999￦</p>
        <div>
            <input type="image" src="../public/Resource/black/arrow_left.png" width="15" height="15">
            <span>1/10</span>
            <input type="image" src="../public/Resource/black/arrow_right.png" width="15" height="15">
        </div>
    </div>
    </div>
    
    <div class="popUp3"><a href="#" style="text-decoration: none; color:#ffffff;" class="top"><span style="line-height:50px;">TOP </span>▲</a></div>
</body>
</html>
