<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
    <title>Dream Sell</title>
    <link rel="stylesheet" href="../public/css/mainpage.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../public/js/mainPage.js"></script>
</head>
<body class="main-page">
<div>
</div>
<div class="header">
    <div class="sign">
        <a href="#" style="text-decoration: none;">로그인</a>
        <a href="#" style="text-decoration: none;">회원가입</a>
        <a href="#" style="text-decoration: none;">마이페이지</a>
    </div>
    <div class="h-outer">
        <div class="logo">
            <input type="image" src="../public/Resource/dreamsell%20logo.png" width=100% height=100%>
        </div>
        <div class="serch">
            <select class="select">
                <option>전체</option>
                <option>분류</option>
            </select>
            <input type=text class="input" id="searchText">
            <input type="image" src="../public/Resource/blue/search.png" class="button" id="searchButton">
        </div>
    </div>
</div>
<div class="section">
    <div class="category">
        <div class="sort">
            <div id="cloth" onmouseover="over(this, '0', '../public/Resource/blue/ic_local_offer_black_24dp_2x.png')" onmouseout="out(this, '0', '../public/Resource/white/ic_local_offer_black_24dp_2x.png')">
                <input type="image" src="../public/Resource/white/ic_local_offer_black_24dp_2x.png" width=32.1% height=32.1% class="image" name="clothButton">
                <span class="categorytext">의류</span>
            </div>
            <div id="pizza" onmouseover="over(this, 1, '../public/Resource/blue/ic_local_pizza_black_24dp_2x.png')" onmouseout="out(this, 1, '../public/Resource/white/ic_local_pizza_black_24dp_2x.png')">
                <input type="image" src="../public/Resource/white/ic_local_pizza_black_24dp_2x.png" width=30.8% height=32.1% class="image" id="pizzaButton">
                <span class="categorytext">피자</span>
            </div>
            <div id="living" onmouseover="over(this, '2', '../public/Resource/blue/shampoo.png')" onmouseout="out(this, '2', '../public/Resource/white/w_shampoo%20.png')">
                <input type="image" src="../public/Resource/white/w_shampoo%20.png" width=16% height="32.1%" class="image" style="margin-left:42%" id="livingButton">
                <span class="categorytext">생활용품</span>
            </div>
            <div id="elec" onmouseover="over(this, 3, '../public/Resource/blue/ic_personal_video_black_24dp_2x.png')" onmouseout="out(this, 3, '../public/Resource/white/ic_personal_video_black_24dp_2x.png')">
                <input type="image" src="../public/Resource/white/ic_personal_video_black_24dp_2x.png" width=34.5% height=31.5% class="image" id="elecButton">
                <span class="categorytext">전자제품</span>
            </div>
            <div id="furniture" onmouseover="over(this, 4, '../public/Resource/blue/sibar.png')" onmouseout="out(this, 4, '../public/Resource/white/ic_airline_seat_individual_suite_black_24dp_2x.png')">
                <input type="image" src="../public/Resource/white/ic_airline_seat_individual_suite_black_24dp_2x.png" width=40% height=20.5% class="image" id="furnitureButton">
                <span class="categorytext" style="margin-top:18px;">가구</span>
            </div>
            <div id="figure" onmouseover="over(this, 5, '../public/Resource/blue/ic_toys_black_24dp_2x.png')" onmouseout="out(this, 5, '../public/Resource/white/ic_toys_black_24dp_2x.png')">
                <input type="image" src="../public/Resource/white/ic_toys_black_24dp_2x.png" width=32.1% height=32.1% class="image" id="figureButton">
                <span class="categorytext">완구/피규어</span>
            </div>
            <div id="ticket" onmouseover="over(this, 6, '../public/Resource/blue/ic_receipt_black_24dp_2x.png')" onmouseout="out(this, 6, '../public/Resource/white/ic_receipt_black_24dp_2x.png')">
                <input type="image" src="../public/Resource/white/ic_receipt_black_24dp_2x.png" width=32.1% height=32.1% class="image" id="ticketButton">
                <span class="categorytext">티켓</span>
            </div>
            <div id="school_supply" onmouseover="over(this, 7, '../public/Resource/blue/ic_create_black_24dp_2x.png')" onmouseout="out(this, 7, '../public/Resource/white/ic_create_black_24dp_2x.png')">
                <input type="image" src="../public/Resource/white/ic_create_black_24dp_2x.png" width=32.1% height=32.1% class="image" id="school_supplyButton">
                <span class="categorytext">문구</span>
            </div>
            <div id="book" onmouseover="over(this, 8, '../public/Resource/blue/ic_import_contacts_black_24dp_2x.png')" onmouseout="out(this, 8, '../public/Resource/white/ic_import_contacts_black_24dp_2x.png')">
                <input type="image" src="../public/Resource/white/ic_import_contacts_black_24dp_2x.png" width=32.1% height=32.1% class="image" id="bookButton">
                <span class="categorytext">도서/CD</span>
            </div>
            <div id="pet" onmouseover="over(this, 9, '../public/Resource/blue/ic_pets_black_24dp_2x.png')" onmouseout="out(this, 9, '../public/Resource/white/ic_pets_black_24dp_2x.png')">
                <input type="image" src="../public/Resource/white/ic_pets_black_24dp_2x.png" width=32.1% height=32.1% class="image" id="petButton">
                <span class="categorytext">애완용품</span>
            </div>
        </div>
    </div>
    <div class="list">
        <div id="popular" onmouseover="listover(this)" onmouseout="listout(this)">
            <span style="text-align:center;">인기순</span>
        </div>
        <div id="new" onmouseover="listover(this)" onmouseout="listout(this)">
            최신순
        </div>
        <div id="end" onmouseover="listover(this)" onmouseout="listout(this)">
            마감순
        </div>
    </div>
    <div class="productlist" id="productList">

    </div>
</div>
<div class="popUp">
    <p>
        나도 상품 판매하기
    </p>
</div>
<div class="popUp2">
    <p>
        최근 본 상품
    </p>
    <img src="../public/Resource/benz.png" width="100%" height="45%" style="cursor: pointer;">
    <p style="font-size:100%;" id="menuname">
        사고싶다
    </p>
    <p style="font-size:100%;" id="menuprice">
        999,999￦
    </p>
    <div>
        <input type="image" src="../public/Resource/black/arrow_left.png" width="15" height="15">
        <span>1/10</span>
        <input type="image" src="../public/Resource/black/arrow_right.png" width="15" height="15">
    </div>
</div>
<div class="popUp3">
    <a href="#" style="text-decoration: none; color:#ffffff;" class="top"><span style="line-height:50px;">TOP </span>▲</a>
</div>
</body>
</html>