<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link   href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css'   rel='stylesheet' type='text/css'>
    <title>Dream Sell</title>
    <!-- <link rel="stylesheet" href="css/info.css"> -->
    <link rel="stylesheet" href="../public/css/mypage_history.css">
</head>
<body class="mypage">
        <div></div>
        <div class="header">
            <div class="sign">
                    <a href="#" style="text-decoration: none;">로그인</a>
                    <a href="#" style="text-decoration: none;">회원가입</a>
                    <a href="#" style="text-decoration: none;">마이페이지</a>
                </div>
            <div class="h-outer">
                <div class="logo">
                    <img src="../public/Resource/dreamsell%20logo.png" width=100% height=100%>
                </div>
                <div class="serch">
                    <select class="select">
                        <option>전체</option>
                        <option>분류</option>
                    </select>
                    <input type="search" class="input" id="searchText">
                    <input type="image" class="button" id="searchButton" src="../public/Resource/blue/search.png" >
                </div>
            </div>
        </div>
        <nav>
            <div class="menu_bar">
               <p id="menu_profile">프로필</p>
               <p id="sell_history">판매 기록</p>
               <p id="bit_history">입찰 기록</p>
            </div>
        </nav>
        <section>
            <div class="profile_content">
                <span class="text">판매 기록</span>
                <hr>
                    <table>
                            <tr>
                                <th>이미지</th> <th>물건</th> <th>최고가격</th>  <th>상태</th> <th>남은 시간</th> <th>판매자 연락쳐</th>
                            </tr>
                            <tr>
                                <td>이미지</td> <td>물건</td> <td>최고가격</td>  <td>상태</td> <td>남은 시간</td> <td>판매자 연락쳐</td>
                            </tr>
                            <tr>
                                <td>이미지</td> <td>물건</td> <td>최고가격</td>  <td>상태</td> <td>남은 시간</td> <td>판매자 연락쳐</td>
                            </tr>
                             <tr>
                                <td>이미지</td> <td>물건</td> <td>최고가격</td>  <td>상태</td> <td>남은 시간</td> <td>판매자 연락쳐</td>
                            </tr>
                            <tr>
                                <td>이미지</td> <td>물건</td> <td>최고가격</td>  <td>상태</td> <td>남은 시간</td> <td>판매자 연락쳐</td>
                            </tr>
                            <tr>
                                <td>이미지</td> <td>물건</td> <td>최고가격</td>  <td>상태</td> <td>남은 시간</td> <td>판매자 연락쳐</td>
                            </tr>
                        </table>
                        <div class ="arrow">
                                <img src="../public/Resource/black/arrow_left.png" width="15" height="15">
                                <span>1/10</span>
                                <img src="../public/Resource/black/arrow_right.png" width="15" height="15">
                        </div>
               
            </div>
        </section>
</body>
</html>