<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link   href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css'   rel='stylesheet' type='text/css'>
    <title>Dream Sell</title>
    <!-- <link rel="stylesheet" href="css/info.css"> -->
    <link rel="stylesheet" href="../public/css/mypage_profile.css">
</head>
<body class="mypage">
        <div></div>
        <div class="header">
            <div class="sign">
                    <a href="#" style="text-decoration: none;">로그인</a>
                    <a href="#" style="text-decoration: none;">회원가입</a>
                    <a href="#" style="text-decoration: none;">마이페이지</a>
                </div>
            <div class="h-outer">
                <div class="logo">
                    <input type=image src="../public/Resource/dreamsell%20logo.png" width=100% height=100%>
                </div>
                <div class="serch">
                    <select class="select">
                        <option>전체</option>
                        <option>분류</option>
                    </select>
                    <input type="search" class="input" id="searchText">
                    <input type="image" class="button" id="searchButton" src="../public/Resource/blue/search.png" >
                </div>
            </div>
        </div>
        <nav>
            <div class="menu_bar">
               <p id="menu_profile">프로필</p>
               <p id="sell_history">판매 기록</p>
               <p id="bit_history">입찰 기록</p>
            </div>
        </nav>
        <section>
            <div class="profile_content">
                <span class="text">프로필</span>
                <hr>    
                <div>
                    <p id="projile_main"></p>
                </div>
                <label class="profile_text">닉네임<input type="text" class="profile_input"></label><br>
                <label class="profile_text">아이디<p class="profile_id">사용자 아이디 들어갈곳</p></label><br>
                <label class="profile_text">이메일<input type="text"  id="email" class="profile_input"></label><br>
                <label class="profile_text">전화번호<input type="text" class="profile_input" id="phone"></label><br>
                <label class="profile_text">주소<input type="text" class="profile_input" id="address"></label><br>
                <p class="save">저장</p>        
            </div>
        </section>
</body>
</html>