<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../public/css/register.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../public/js/register.js"></script>

</head>
<body class ="back">
    <div class = "content">
        <img class="logo" src="../public/Resource/dreamsell logo.png">
        <span class="text-style1">회원가입</span>
        <hr>
        <div>
            <span class="text-style2">닉네임</span>
            <input type="text" placeholder="8자리 미만" id="name">
        </div>
        <div>
            <span class="text-style3">아이디</span>
            <input type="text" placeholder="공백 포함 8~12글자" id="id">
        </div>
        <div>
            <span class="text-style4">비밀번호</span>
            <input type="password" placeholder="공백 포함 8~12글자" id="passwd">
        </div>
        <div>
            <span class="text-style5">이메일</span>
            <input type="email" id="email">
        </div>
        <div>
            <span class="text-style6">전화번호</span>
            <input type="number" id="phoneNum">
        </div>
        <div>
            <span class="text-style7">주소</span>
            <input type="text" id="address">
        </div>
        <button id="submit">완료</button>
    </div>
</body>
</html>
