<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../public/css/registerComplete.css">
    <script type="text/javascript" src="../public/js/registerComplete.js"></script>
</head>
<body class ="back">
    <div class = "content">
        <img class="logo" src="../public/Resource/dreamsell logo.png">
        <span class="text-style1">가입완료</span>
        <span class="text-style2">누구보다 현명하게 물건을 구입하는 법!</span>
        <span class ="D">D</span><span class ="R">R</span><span class ="E">E</span><span class ="A">A</span><span class ="M">M</span>
        <span class ="sell">Sell</span>
        <span class ="text-style3">에 가입이 완료되셨습니다.</span>
        <span class ="text-style4">가입을 축하드립니다.</span>
        <img src="../public/Resource/cake.png" class="cake">
        <button class ="shopping" onclcik="goHome()">쇼핑하기</button>
        <hr>
    </div>
</body>
</html>
