<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
        <title>Dream Sell</title>
        <link rel="stylesheet" href="../public/css/sellpage.css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="../public/js/sellPage.js"></script>
    </head>
    <body>
        <div class="sell-page">
        <div class="header">
            <div class="sign">
                    <a href="#" style="text-decoration: none;">로그인</a>
                    <a href="#" style="text-decoration: none;">회원가입</a>
                    <a href="#" style="text-decoration: none;">마이페이지</a>
                </div>
            <div class="h-outer">
                <div class="logo">
                    <input type=image src="../public/Resource/dreamsell%20logo.png" width=100% height=100%>
                </div>
                <div class="serch">
                    <select class="select">
                        <option>전체</option>
                        <option>분류</option>
                    </select>
                    <input type=text class="input">
                    <input type=image src="../public/Resource/blue/search.png" class="button">
                </div>
            </div>
        </div>
        
        <div id="box">
        <div id="upload">
            <div id="content">
                <img src="../public/Resource/white/ic_collections_white_24dp_2x.png" width="100%" height="100%" id="preview">
            </div>
            <div id="itemexport">
                <img src="../public/Resource/white/ic_file_upload_white_24dp_2x.png" width="100%" height="100%">
            </div>
        </div>
        </div>

                <div id="Pname">
                    <input class="item" type=text placeholder="물품명" id="productName">
                </div>
                <div id="Pcategory">
                    <input class="item" type=text placeholder="카테고리" id="productCategory">
                </div>
                <div id="Pstartprice">
                    <input class="item" type=text placeholder="시작 가격" id="productStartPrice">
                </div>
                <div id="Pkeyword">
                    <input class="item" type=text placeholder="검색 키워드 (,로 분류)" id="keyWord">
                </div>
                <div id="importimage">
                    <form id="FILE_FORM" method="post" enctype="multipart/form-data" action="http://iwin247.info:3474/image">
                        <input type="file" id="FILE_TAG" name="file" accept="image/gif,image/png,image/jpeg">
                        <img src="../public/Resource/white/ic_collections_white_24dp_2x.png"  id="submitImage">
                        <span id="importtext">사진추가</span>
                        <input type="submit">제출</input>
                    </form>
                </div>
                <div id="explain">
                    <textarea class="einput" placeholder="물품설명"></textarea>
                    <div id="confirm">
                        <p>제출</p>
                    </div>
                </div>


        </div>
    </body>
</html>