@@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
body {
    font-family: 'Nanum Barun Gothic', sans-serif;
}
.mypage{
    width: 100%;
    height: 1080px;
    min-width: 1600px; 
    background-color: #ffffff;
    margin:0px;
}

.header{
width:100%;
height:20.4%;
float:left;
text-align: center;
}

.header .h-outer{
position:relative;
width:50%;
z-index: 10000;
    
height:100%;
display:inline-block;

}
.header .h-outer .logo{
position:relative;
cursor: pointer;
width:236px;
height:120px;
margin-top:38px;
}
.header .sign {
position: relative;
margin-left:80%;
top: 3%;
}
.header .h-outer .serch{
position:relative;
float:left;
bottom:39.6%;
width:56%;
height:25.6%;
margin-left:300px;
border:solid 6px #327fff;
}
.header .h-outer .serch .input{
position: relative;
height: 95%;
width: 65%;
left:3%;
top:1%;
float: left;
border: 0px;
outline-style: none;  

}
.header .h-outer .serch .select{
position: relative;
top: 37.1%;
font-size:110%;
font-weight: 300;
padding-left: 3%;
width: 21%;
float: left;
border: solid 0px #327fff;
font-size: 110%;
outline-style: none;  
-webkit-appearance: none; 
-moz-appearance: none;    
background: url('../Resource/arrow_down.png') no-repeat 95% 50%; 
}
.header .h-outer .serch .button{
position: relative;
top: 25%;
right:3%;
float : right;  
outline: none;
}
.menu_profile{
    position: relative;
    left : 20.6%;
    width:  208px;
    height: 56px;
    background-color: #327fff;
    font-family: NanumBarunGothic;
    font-size: 25px;
    font-weight: 300;
    line-height: 2.4;
    letter-spacing: 2.3px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
}
 .sell{
    position: relative;
    left : 20.6%;
    width:  208px;
    height: 56px;
    background-color: #327fff;
    font-family: NanumBarunGothic;
    font-size: 25px;
    font-weight: 300;
    line-height: 2.4;
    letter-spacing: 2.3px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
}
nav {
    position: relative;
    float: left;
    height: 100%;
    width: 31.4%;
}
nav .menu_bar{
    position: absolute;
    left:65%;
    width: 32.6%;
    height: 33.6%;
    font-size: 25px;
    font-weight: 300;
    line-height: 2.4;
    letter-spacing: 2.3px;
    color: #327fff;

}
 .menu_bar #bit_history{           /* 같은건데 그냥 해놓음 */
    position: relative;
    width: 100%;
    height: 15.2%;
    border-radius: 10px;
    background-color: #327fff;
    cursor: pointer;
    border: solid 1px #ffffff;
    text-align: center;
    color: #ffffff;
}
.menu_bar #menu_profile{
    position: relative;
    width: 100%;
    height: 15.2%;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border: solid 1px #327fff;
    text-align: center;
}
.menu_bar #sell_history{
    position: relative;
    width: 100%;
    cursor: pointer;
    height: 15.2%;
    border-radius: 10px;
    background-color: #ffffff;
    border: solid 1px #327fff;
    text-align: center;
}
section{
    position: relative;
    width : 48.8%;
    height:75.4%;
    top: 20%;
    margin-left:32.7%;
    background-color:#327fff; 
}
section .profile_content{
    position:absolute;
    width: 100%;
    height: 100%;
    float:left;
}

.profile_content .text{
    position: relative;
    font-size: 30px;
    line-height: 2;
    font-weight: bold;
    text-align: center;
    margin-left : 3%;
    top:6px;
    color: #ffffff;
}
hr{
    width: 40%;
    margin-left:2.5%;
    color:white;
}

.profile_content table{
    position: relative;
    font-size: 20px;
    font-weight: 300;
    line-height: 3.33;
    letter-spacing: -0.2px;
    margin-left:2%;
    text-align: center;
    color: #ffffff;
    width: 98.9%;
    height: 75%;
    padding-bottom: 20%;
}


.profile_content .arrow{
    float:left;
    font-size:20px;
    font-weight: bold;
    margin-top:60px;
    margin-left:45%;
    color:white;
}
a:link { color: black; text-decoration: none;}
    a:visited { color: black; text-decoration: none;}
    a:hover { color: gray; text-decoration: underline;}
