
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
.back {
        font-family: 'Nanum Barun Gothic', sans-serif;
        position: relative;
        background-color:  #327fff;
        width: 100%;
        height: 1080px;
    }
    .back .content{
        position: relative;
        width: 761px;
        height: 100%;
        background-color: #ffffff;
        margin: auto;

    }
    .content .logo {
        position: absolute;
        width: 326px;
        height: 169px;
        top:35px;
        left: 27.9%;
        right: 29.3%;
        cursor: pointer;
    }   
.text-style1 {
position: absolute;
top : 264px;
left: 24px;
font-size: 30px;
color: #327fff;
font-family: NanumBarunGothic;
}
.text-style2 {
position: absolute;
top : 347px;
left: 29px;
color: #327fff;
font-family: NanumBarunGothic;
font-size: 30px;
line-height: 2;
text-align: center;
}
.text-style3 {
position: absolute;
top : 390px;
left: 197px;
color: #327fff;
font-family: NanumBarunGothic;
font-size: 30px;
line-height: 2;
text-align: center;
}
.text-style4 {
position: absolute;
top : 433px;
left: 30px;
color: #327fff;
font-family: NanumBarunGothic;
font-size: 30px;
line-height: 2;
text-align: center;
}
hr {
position: absolute;
left : 16px;
right: 16px;
top: 300px;
width: 729px;
border: solid 1px #327fff;
}

.D{
position: absolute;
left: 30px;
top: 390px;
font-family: NanumBarunGothic;
font-size: 30px;
line-height: 2;
color: #ff3e3e;
}
.R {
position: absolute;
left: 50px;
top: 390px;
font-family: NanumBarunGothic;
font-size: 30px;
line-height: 2;
color: #ffd120;
}

.E {
position: absolute;
left: 70px;
top: 390px;
font-family: NanumBarunGothic;
font-size: 30px;
line-height: 2;
color: #2cbd59;
}  

.A {
position: absolute;
left: 90px;
top: 390px;
font-family: NanumBarunGothic;
font-size: 30px;
line-height: 2;
color: #327fff;
}

.M {
position: absolute;
left: 110px;
top: 390px;
font-family: NanumBarunGothic;
font-size: 30px;
line-height: 2;
color: #af4bca;
}
.sell {
position: absolute;
left: 145px;
top: 390px;
font-family: NanumBarunGothic;
font-size: 30px;
line-height: 2;
color: #795858;
}
body {
font-family: 'Nanum Barun Gothic', sans-serif;
max-width:1920px;
    }
.cake {
    position: absolute;
    left: 280px;
    right: 270px;
    width: 211px;
    height: 255px;
    top : 600px;
}
.shopping {
    position: absolute;
    left: 54px;
    right: 57px;
    top: 923px;
    width: 667px;
    height: 57px;
    background-color: #327fff;
    font-family: NanumBarunGothic;
    font-size: 16px;
    line-height: 4;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
}
